**.pyc

# IDE configuration files
.idea
.vscode

# Project files
etc/config/config.yml
etc/logs

# virtualenv folder
venv

# Client data
**.map
**.mmap
**.mmtile
**.vmap
**.vmtree
**.vmtile
**.dbc
**.nav
**.bvh
**.idx

# Compiled libs
**.pyd
**.so
