**.pyc

# IDE configuration files
.idea
.vscode

# Project files
etc/config/config.yml
.env
etc/logs

# Extractor
etc/mdx
etc/wmo_liquids

# virtualenv folder
venv

# Client data
**.map
**.mmap
**.mmtile
**.vmap
**.vmtree
**.vmtile
**.dbc
**.nav
**.bvh
**.idx
**.mdx

# Compiled libs
**.pyd
**.so

