version: '3.9'

x-alpha-core-shared-conf: &alpha-core-shared-conf
  environment:
    - TZ=Europe/London
    - MYSQL_HOST=sql
    - MYSQL_USERNAME=root
    - MYSQL_PASSWORD=pwd
    - CONSOLE_MODE=False
    - FORWARD_ADDRESS_OVERRIDE=127.0.0.1
  volumes:
    - .:/var/wow/
  restart: on-failure
  tty: true
  depends_on:
    - sql

services:
  main:
    image: alpha-core:latest
    container_name: alpha-core-main
    build:
      context: .
      dockerfile: etc/docker/main/Dockerfile
    ports:
      - "3443:3443"
      - "8100:8100"
      - "9090:9090"
      - "9100:9100"
    <<: *alpha-core-shared-conf

  world:
    image: alpha-core:latest
    container_name: alpha-core-world
    build:
      context: .
      dockerfile: etc/docker/world/Dockerfile
    ports:
      - "8100:8100"
    <<: *alpha-core-shared-conf
    profiles:
      - world

  realm:
    image: alpha-core:latest
    container_name: alpha-core-realm
    build:
      context: .
      dockerfile: etc/docker/realm/Dockerfile
    ports:
      - "9090:9090"
      - "9100:9100"
    <<: *alpha-core-shared-conf
    profiles:
      - realm

  sql:
    image: alpha-mariadb:latest
    build: etc/docker/sql
    environment:
      - MYSQL_ROOT_PASSWORD=pwd
    ports:
      - "3366:3306"
    volumes:
      - ./etc/databases/:/etc/databases/
    restart: on-failure

  phpmyadmin:
    image: phpmyadmin
    ports:
      - "8080:80"
    environment:
      - PMA_HOST=sql
      - PMA_USER=root
      - PMA_PASSWORD=pwd
    restart: "no"
    depends_on:
      - sql
    profiles:
      - dev

  inotify:
    image: alpha-inotify:latest
    build: etc/docker/inotify
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - .:/var/wow/
    environment:
      - CONTAINER=alpha-core-main
      - VOLUMES=/var/wow
    restart: on-failure
    profiles:
      - dev

networks:
  default:
    name: alpha-core-network
