PROJECT='alpha-core'
OS_TAG='python-3.14.2-slim-trixie'
BASE_IMAGE='python:3.14.2-slim-trixie'
DB_TAG='mariadb-12.1.2'
INO_TAG='inotify-1.0.1'
PHPAD_TAG='phpmyadmin:5.2.3'
TIME_ZONE='Europe/London'
MYSQL_ADMIN_USERNAME=root
MYSQL_ADMIN_PASSWORD=pwd
MYSQL_HOST=sql
MYSQL_PORT=3306
# to log into mariadb docker
MYSQL_HOST_PORT=3306

LOGIN_PORT=3724
WORLD_PORT=8100
UPDATE_PORT=9081
PROXY_PORT=9090
REALM_PORT=9100

MYSQL_SSL_MODE=DISABLED
MYSQL_USERNAME=alphapython
MYSQL_PASSWORD=alphapython
DB_PREFIX=alpha_
DB_SKIP_CREATE=false
LOCAL_DB_HOST=sql
LOCAL_DB_PORT=3306
LOCAL_DB_USERNAME=alphapython
LOCAL_DB_PASSWORD=alphapython
EXTERNAL_DB_HOST=
EXTERNAL_DB_PORT=3306
EXTERNAL_DB_USERNAME=alphapython
EXTERNAL_DB_PASSWORD=alphapython
COMPOSE_PROFILES=localdb
CONSOLE_MODE=False
FORWARD_ADDRESS_OVERRIDE=127.0.0.1
