/.vs/MapViewer/v14/*.suo
/Debug
/MapViewer/Debug
/utility/Debug/*.idb
/parser/Debug
/parser/*.user
/utility/Debug/*.pdb
/utility/Debug/*.obj
/utility/Debug
/*.sdf
/utility/*.user
/.vs/maps/v14/*.suo
/MapViewer/x64/Debug/*.pdb
/*.opensdf
/MapViewer/*.aps
/MapViewer/pixelShader.hpp
/MapViewer/vertexShader.hpp
/MapViewer/*.user
/MapViewer/Release
/parser/Release
/utility/Release
/Release
/RecastDetourBuild/Recast/Debug
/MapBuilder/Debug
/MapBuilder/*.user
/pathfind/Debug
/MapBuilder/x64/Debug
/pathfind/Release
/MapBuilder/Release
/RecastDetourBuild/Debug
/RecastDetourBuild/Release
/RecastDetourBuild/*.user
/*.opendb
/x64
/MapViewer/x64/Debug
/RecastDetourBuild/x64/Debug
/parser/x64/Debug
/pathfind/x64/Debug
/utility/x64/Debug
/maps.VC.db
/MapBuilder/x64/Release
/MapViewer/x64/Release
/RecastDetourBuild/x64/Release
/parser/x64/Release
/pathfind/x64/Release
/utility/x64/Release
/pathfind/*.user
/gos.csv
/.vs
/.vscode
/MapViewer/Include/pixelShader.hpp
/MapViewer/Include/vertexShader.hpp
/CMakeSettings.json
/out
/build
/*.idea
/*.ipch
/cmake-build-debug
/cmake-build-release