Database:
    Connection:
        host: 127.0.0.1
        username: root
        password: pwd

    DBNames:
        realm_db: alpha_realm
        world_db: alpha_world
        dbc_db: alpha_dbc

Server:
    Connection:
        RealmServer:
            host: 0.0.0.0  # server machine local IP
            port: 9100
            realm_name: alphacore

        RealmProxy:
            host: 0.0.0.0  # set this to external IP if needed
            port: 9090

        WorldServer:
            host: 0.0.0.0  # set this to external IP if needed
            port: 8100

    Settings:
        auto_create_accounts: True
        blizzlike_names: True  # If True, names won't have any restriction as it was back in the day
        xp_rate: 1.0
        debug: True
        load_gameobjects: True
        load_creatures: True
        supported_client: 3368
        realm_saving_interval_seconds: 60
        cell_size: 164  # Shouldn't be much bigger than 200
        console_mode: True  # Set it to False if you intend to run the server on background
        use_map_tiles: False  # If True, place 1.12 .map files extracted with https://github.com/mangosvb/serverZero/blob/master/Tools/ad.exe inside 'etc/maps/'
        z_resolution: 255  # The resolution used when extracting maps

    General:
        # Message of the day
        motd: Welcome to the Friends and Family Alpha!
        disabled_race_mask: 0
        disabled_class_mask: 0

World:
    Gameplay:
        game_speed: 0.016666668
        update_dist: 200

    Chat:
        ChatRange:
            say_range: 50
            yell_range: 300
            emote_range: 50

Unit:
    Defaults:
        base_attack_time: 2000
        offhand_attack_time: 1000
        bounding_radius: 0.388999998569489
        combat_reach: 1.5
        walk_speed: 2.5
        run_speed: 7.0
        swim_speed: 4.722222

    Player:
        Defaults:
            starting_level: 1
            max_level: 25
            turn_speed: 3.141594
            flight_speed: 32.0