Version:
    current: 20

Database:
    Connection:
        host: 127.0.0.1
        port: 3306
        username: root
        password: pwd

    DBNames:
        realm_db: alpha_realm
        world_db: alpha_world
        dbc_db: alpha_dbc

Server:
    Connection:  # Change 0.0.0.0 for 127.0.0.1 if it doesn't work
        Realm:
            local_realm_id: 1  # id of the realm running on this machine (realmlist table)

        UpdateServer:
            host: 0.0.0.0
            port: 9081

        LoginServer:
            host: 0.0.0.0
            port: 3724

        WorldServer:
            # You can use the FORWARD_ADDRESS_OVERRIDE environment variable to define a different forward IP address
            # (the one that will be served to external players) than the bind one.
            host: 0.0.0.0
            port: 8100

    Settings:
        auto_create_accounts: True  # Automatically create an account the first time credentials are provided
        auto_create_gm_accounts: False  # Give all new accounts GM permissions
        blizzlike_names: True  # If True, names won't have any restriction as it was back in the day
        xp_rate: 1.0
        load_gameobjects: True
        load_creatures: True
        load_pools: True  # If False, creatures and gameobject spawns will ignore pooling.
        supported_client: 3368
        realm_saving_interval_seconds: 60
        cell_size: 96  # Shouldn't be much bigger than 200
        view_distance: 100  # Define the maximum distance to determine if an object should be considered visible.
        console_mode: True  # Set it to False if you intend to run the server on background
        # MapTiles:
        # Extract running main.py -e, files should be automatically placed over '/etc/maps/'
        # Enables terrain Z calculations, improving npc units movement.
        # Enables water related features like fishing, underwater breathing and fatigue.
        # Enables zone exploration feature.
        use_map_tiles: False
        # Float16:
        # True if .map files were extracted using 16bit floats.
        # In order to reduce size and ram, heightfield and liquids can be extracted using half precision 16bit floats.
        use_float_16: False
        # NavTiles:
        # Extract running main.py -e, files should be automatically placed over '/etc/navs/'
        # Enables more precise terrain Z calculations, further improving npc units movement.
        # Enables path finding for units.
        # Enables line of sight checks for spell casting and units detection.
        use_nav_tiles: False

        debug_movement: False  # Moving NPCs will leave a trail of temporary gameobjects.
        debug_transport: False  # Elevators will leave a trail of temporary gameobjects.

    Logging:
        # Debug level values (you can combine them as a mask):
        #   None = 0x00 (0)
        #   Success = 0x01 (1)
        #   Information = 0x02 (2)
        #   Anticheat = 0x04 (4)
        #   Warning = 0x08 (8)
        #   Error = 0x10 (16)
        #   Debug = 0x20 (32)
        #   Script = 0x40 (64)
        #
        #   All = 0x7f (127, the sum of all)
        logging_mask: 0x7f
        log_player_chat: False
        log_chat_path: /var/log/alpha-core/chat
        log_dev_path: /var/log/alpha-core/dev

    General:
        # Message of the day
        motd: Welcome to the Friends and Family Alpha!
        enable_addons_chat_api: False  # CUSTOM: Allow addons to use the chat system for data requests.
        disabled_race_mask: 0  # Blizzlike 0.5.3: 239
        disabled_class_mask: 0  # Blizzlike 0.5.3: 1102

World:
    Gameplay:
        game_speed: 0.016666668
        update_dist: 200
        enable_call_for_help: False  # Until 0.5.4, creatures didn't call for help when fleeing.

    Chat:
        ChatRange:
            say_range: 50
            yell_range: 300
            emote_range: 50

Unit:
    Defaults:
        base_attack_time: 2000
        offhand_attack_time: 1000
        bounding_radius: 0.388999998569489
        combat_reach: 1.5
        walk_speed: 2.5
        run_speed: 7.0
        swim_speed: 4.722222

    Player:
        Defaults:
            starting_level: 1
            max_level: 25
            turn_speed: 3.141594
            flight_speed: 32.0

Extractor:
    Maps:
        # World of Warcraft root directory.
        wow_root_path: ''
        # True for half precision 16bit floats.
        use_float_16: False
